.DS_Store
/public*
/resources
/node_modules
/pdf/content
/pdf/files
/static/pdf
/static/docx
/static/js/search/lunr.json
/static/js/search/*/lunr.json
warning.txt
/themes/qing-theme/assets/scss/custom/_variables.scss
package-lock.json
yarn.lock
/config/@enterprise/external.yaml
/scripts/linkkeys/*.json
/config/*/hinata/configs/*.json
/config/*/hinata/configs/*.yaml
/config/@*/*.*
!/config/@*/config.yaml
!/config/@*/_variables.scss
/themes/qing-theme/data/*.json
/themes/qing-theme/data/*.yaml
/scripts/data/update.json
/.vscode/
qingcloud-docs-center.tar.gz
.hugo_build.lock
