.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 14px;
  height: 32px;
  padding: 6px 16px;
  cursor: pointer;
  &.primary-btn {
    color: $normal-background-color;
    background-color: $active-color;
    box-shadow: $primary-button-box-shadow;
    &:hover {
      background-color: $primary-btn-hover-color;
    }
  }
  &.normal-btn {
    color: $font-normal-color;
    background-color: $normal-background-color;
    border: 1px solid $logo-split-color;
    box-shadow: 0px 1px 1px rgba(2, 5, 8, 0.02), 0px 1px 4px rgba(2, 5, 8, 0.06);
    &:hover {
      background-color: $theme-background-color;
    }
  }
  .btn-left-icon {
    margin-right: 12px;
    position: relative;
    font-size: 18px;
    width: 18px;
    height: 24px;
    line-height: 24px;

    [class^="path"]:before {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 0;
      margin-left: 0;
    }
  }
}