.input:focus,
.input.is-focused,
.input:active,
.input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
  border-color: $active-color;
  box-shadow: 0 0 0 0;
}

.input:hover,
.input.is-hovered,
.textarea:hover,
.textarea.is-hovered {
  border-color: $active-color;
}