$font-normal-color: #324558;
$font-title-color: #09121A;
$font-light-color: #939EA9;
$active-color: #15A675;
$primary-btn-hover-color: #13966A;
$icon-dark-color: $active-color;
$icon-light-color: #9ddfc9;
$active-light-color: #DFF7F0;
$normal-background-color: #FFFFFF;
$border-color:#E4EBF1;
$search-result-header-background-color: #F6F8FB;

$qingicon-color: #B6C2CD;

$theme-background-color: #F5F7FA;

$navbar-background-color: rgba(245, 247, 250, 0.4);
$logo-split-color: #D5DEE7;
$logo-text-color: $font-title-color;


$input-placeholder-color: #939EA9;
$input-icon-color: #B6C2CD;

$primary-button-box-shadow: 0px 1px 1px rgba(2, 5, 8, 0.02),
0px 1px 4px rgba(2, 5, 8, 0.06);

$sidebar-title-color: #1D2B3A;

$menu-switch-color: $font-light-color;
$menu-switch-active-color: #324558;

$banner-title-color: $font-title-color;
$banner-description-color: #324558;

$title-level-1-color: #1D2B3A;
$title-level-2-color: #1D2B3A;
$title-level-4-color: $font-normal-color;

$content-background-color: rgba(245, 247, 250, 0.6);

$breadcrumb-no-link-color: $font-light-color;
$post-footer-color: #778592;

$disabled-color: $font-light-color;
$table-header-background-color: #F5F7FA;

$mixin-admon-note-color: #1286F1;
$mixin-admon-note-background-color: #E7F3FE;
$mixin-admon-attention-color: #BB9D1C;
$mixin-admon-attention-background-color: #FFF9D9;
$mixin-admon-danger-color: #BD3633;
$mixin-admon-danger-background-color: #FCE6EB;

$tooltip-background-color: #273849;