<link href="/css/bulma.css" rel="stylesheet">
<link href="/css/bulma-tooltip.min.css" rel="stylesheet">
<link href="/css/atom-one-light.css" rel="stylesheet" />
<link href="/css/magnific-popup.css" rel="stylesheet" />
{{ if .Site.IsServer }}
{{/* Note the missing postCSS. This makes it snappier to develop in Chrome, but makes it look sub-optimal in other
browsers. */}}
{{ $css := resources.Get "scss/main.scss" | toCSS (dict "enableSourceMap" true) }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet">
{{ else }}
{{ $css := resources.Get "scss/main.scss" | toCSS (dict "enableSourceMap" false "outputStyle" "compressed") | postCSS | minify | fingerprint }}
<link href="{{ $css.RelPermalink }}" rel="stylesheet" integrity="{{ $css.Data.Integrity }}">
{{ end }}