<script id="search-result-total-template" type="text/x-js-template">
  <div class="search-result-total">
    共为您找到 ${count} 个结果
  </div>
</script>

<script id="search-result-item-template" type="text/x-js-template">
  <div class="search-result-content-item">
    <div class="search-result-content-item-title">
      <a href="${href}">${title}</a>
    </div>
    <div class="search-result-content-item-content">
      ${content}
    </div>
    <div class="search-result-content-item-ref">
      <ul class="content-breadcrumb">
      </ul>
    </div>
  </div>
</div>
</script>

<script id="search-breadcrumb-template" type="text/x-js-template">
  <li class="icon-slash_fill">
    <a href="${href}">${title}</a>
  </li>
</script>

<script id="search-result-total-template" type="text/x-js-template">
  <div class="search-result-total">
    共为您找到 ${count} 个结果
  </div>
</script>
<script id="search-result-page-template" type="text/x-js-template">
  <nav class="search-result-pagination pagination is-centered">
    <a class="pagination-previous icon-chevron_left_fill"></a>
    <a class="pagination-next icon-chevron_right_fill"></a>
    <ul class="pagination-list">
    </ul>
  </nav>
</script>