/* external scss start */
$active-color: #55a8fd;
$icon-dark-color: #55a8fd;
$primary-btn-hover-color: #3599fd;
$active-light-color: #e1f2ff;
$icon-light-color: #c9e0f8;
$font-title-color: #09121a;
$menu-switch-active-color: #324558;
$banner-description-color: #324558;
$font-light-color: #939ea9;
$input-placeholder-color: #939ea9;
$theme-background-color: #f5f7fa;
$table-header-background-color: #f5f7fa;
$normal-background-color: #ffffff;
/* external scss end */